# Assignment 2
### Permana Deny
### 2020712812

## 1 Create a raw dataset with more rows and columns in section 2.2

In [1]:
import os
import pandas as pd

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price, MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,Utilities,LotConfig\n')  # Column names
    f.write('NA,Pave,127500, 60,RL,65,8450,Reg,Lvl,AllPub,Inside\n')  # Each row represents a data example
    f.write('2,NA,106000, 20,RL,80,9600,Reg,Lvl,AllPub,FR2\n')
    f.write('4,NA,178100, 60,RL,68,11250,IR1,Lvl,AllPub,Inside\n')
    f.write('NA,NA,140000, 70,RL,60,9550,IR1,Lv2,AllPub,Corner\n')
    f.write('NA,Pave,127500,60,RL,84,14260,IR1,Lvl,AllPub,FR2\n')  # Each row represents a data example
    f.write('2,NA,106000,50,RL,85,14115,IR1,Lv2,AllPub,Inside\n')
    f.write('3,Pave,178100,20,RL,75,10084,Reg,Lvl,AllPub,Inside\n')
    f.write('1,NA,90000,60,RL,NA,10382,IR1,Lvl,AllPub,Corner\n')
    f.write('4,Pave,207500,50,RM,51,6120,Reg,Lvl,AllPub,Inside\n')  # Each row represents a data example
    f.write('3,NA,136000,190,RL,50,7420,Reg,Lv2,AllPub,Corner\n')
    f.write('2,NA,155100,20,RL,70,11200,Reg,Lvl,AllPub,Inside\n')
    f.write('4,Pave,190000,60,RL,85,11924,IR1,Lv2,AllPub,Inside\n')

## 2 Delete the column with the most missing values

In [2]:
data = pd.read_csv(data_file)
print(data)

    NumRooms Alley   Price  ...  LandContour Utilities  LotConfig
0        NaN  Pave  127500  ...          Lvl    AllPub     Inside
1        2.0   NaN  106000  ...          Lvl    AllPub        FR2
2        4.0   NaN  178100  ...          Lvl    AllPub     Inside
3        NaN   NaN  140000  ...          Lv2    AllPub     Corner
4        NaN  Pave  127500  ...          Lvl    AllPub        FR2
5        2.0   NaN  106000  ...          Lv2    AllPub     Inside
6        3.0  Pave  178100  ...          Lvl    AllPub     Inside
7        1.0   NaN   90000  ...          Lvl    AllPub     Corner
8        4.0  Pave  207500  ...          Lvl    AllPub     Inside
9        3.0   NaN  136000  ...          Lv2    AllPub     Corner
10       2.0   NaN  155100  ...          Lvl    AllPub     Inside
11       4.0  Pave  190000  ...          Lv2    AllPub     Inside

[12 rows x 11 columns]

In [5]:
print(f"Number of missing data: \n {data.isna().sum(axis=0)}")

Number of missing data:
 NumRooms       3
Alley          7
Price          0
 MSSubClass    0
MSZoning       0
LotFrontage    1
LotArea        0
LotShape       0
LandContour    0
Utilities      0
LotConfig      0
dtype: int64

In [6]:
data = data.dropna(axis='columns', thresh=max(data.isna().sum(axis=0)))
data.fillna(value='', inplace=True)

print(data)

   NumRooms   Price   MSSubClass  ... LandContour Utilities  LotConfig
0            127500           60  ...         Lvl    AllPub     Inside
1         2  106000           20  ...         Lvl    AllPub        FR2
2         4  178100           60  ...         Lvl    AllPub     Inside
3            140000           70  ...         Lv2    AllPub     Corner
4            127500           60  ...         Lvl    AllPub        FR2
5         2  106000           50  ...         Lv2    AllPub     Inside
6         3  178100           20  ...         Lvl    AllPub     Inside
7         1   90000           60  ...         Lvl    AllPub     Corner
8         4  207500           50  ...         Lvl    AllPub     Inside
9         3  136000          190  ...         Lv2    AllPub     Corner
10        2  155100           20  ...         Lvl    AllPub     Inside
11        4  190000           60  ...         Lv2    AllPub     Inside

[12 rows x 10 columns]

## 3 Convert to the tensor format

Preprocessing: Converting string data into integer data

In [7]:
data = pd.get_dummies(data)
print(data)

     Price   MSSubClass  ...  LotConfig_FR2  LotConfig_Inside
0   127500           60  ...              0                 1
1   106000           20  ...              1                 0
2   178100           60  ...              0                 1
3   140000           70  ...              0                 0
4   127500           60  ...              1                 0
5   106000           50  ...              0                 1
6   178100           20  ...              0                 1
7    90000           60  ...              0                 0
8   207500           50  ...              0                 1
9   136000          190  ...              0                 0
10  155100           20  ...              0                 1
11  190000           60  ...              0                 1

[12 rows x 29 columns]

## - convert to Tensor

In [8]:
import tensorflow as tf

data = tf.convert_to_tensor(data)
print(f"Tensor descripton:")
print(data)

Tensor descripton:
tf.Tensor(
[[127500     60   8450      0      0      0      0      1      1      0
       0      0      0      1      0      0      0      0      0      0
       0      0      1      0      1      1      0      0      1]
 [106000     20   9600      0      1      0      0      0      1      0
       0      0      0      0      0      0      0      1      0      0
       0      0      1      0      1      1      0      1      0]
 [178100     60  11250      0      0      0      1      0      1      0
       0      0      0      0      1      0      0      0      0      0
       0      1      0      0      1      1      0      0      1]
 [140000     70   9550      0      0      0      0      1      1      0
       0      0      1      0      0      0      0      0      0      0
       0      1      0      1      0      1      1      0      0]
 [127500     60  14260      0      0      0      0      1      1      0
       0      0      0      0      0      0      0      0      1      0
       0      1      0      0      1      1      0      1      0]
 [106000     50  14115      0      1      0      0      0      1      0
       0      0      0      0      0      0      0      0      0      1
       0      1      0      1      0      1      0      0      1]
 [178100     20  10084      0      0      1      0      0      1      0
       0      0      0      0      0      0      1      0      0      0
       0      0      1      0      1      1      0      0      1]
 [ 90000     60  10382      1      0      0      0      0      1      0
       0      0      0      0      0      0      0      0      0      0
       1      1      0      0      1      1      1      0      0]
 [207500     50   6120      0      0      0      1      0      0      1
       0      1      0      0      0      0      0      0      0      0
       0      0      1      0      1      1      0      0      1]
 [136000    190   7420      0      0      1      0      0      1      0
       1      0      0      0      0      0      0      0      0      0
       0      0      1      1      0      1      1      0      0]
 [155100     20  11200      0      1      0      0      0      1      0
       0      0      0      0      0      1      0      0      0      0
       0      0      1      0      1      1      0      0      1]
 [190000     60  11924      0      0      0      1      0      1      0
       0      0      0      0      0      0      0      0      0      1
       0      1      0      1      0      1      0      0      1]], shape=(12, 29), dtype=int64)